<?xml version="1.0" encoding="UTF-8"?>

<plugin
	id="com.blocks.BDocuments"
	label="Documents"
	version="1.0.0"
	info="Blocks Documents">

	<requirement bundle="com.blocks.Blocks" version="1.0.0" />
	<requirement bundle="com.blocks.BLifecycle" version="1.0.0" />
	<requirement bundle="com.blocks.BUserInterface" version="1.0.0" />

	<extension-point id="documentControllerDelegate" label="Document Controller Delegate" />
	<extension-point id="documentDefaultWindowControllersFactory" label="Document Default Window Controlers Factory" />

	<extension point="com.blocks.BLifecycle.lifecycle">
		<applicationLaunching class="BDocumentController sharedInstance" />
		<applicationDidFinishLaunching class="BDocumentController sharedInstance" />
		<applicationMayTerminateNotification class="BDocumentController sharedInstance" />
		<applicationCancledTerminateNotification class="BDocumentController sharedInstance" />
		<applicationWillTerminate class="BDocumentController sharedInstance" />
	</extension>

	<extension point="com.blocks.BLifecycle.lifecycle">
		<applicationDidFinishLaunching class="BCloudDocumentsService sharedInstance" />
	</extension>
	
	<extension point="com.blocks.BUserInterface.menus" processOrder="2">		
		<menu id="com.blocks.BUserInterface.menus.main.file">
			<menuitem title="%Show Unsaved Changes..." id="showUnsavedChanges" location="group:closeGroup" action="showUnsavedChanges:" />
			<separator group="cloudStorageGroup" location="group:closeGroup" />
			<menuitem title="%Online Documents Service" id="cloudDocumentsService" submenu="com.blocks.BUserInterface.menus.main.file.cloudDocumentsService" location="group:cloudStorageGroup" />
		</menu>
		
		<menu id="com.blocks.BUserInterface.menus.main.file.cloudDocumentsService">
			<menuitem title="%Sync" id="syncSharedDocuments" action="beginSync:" target="BCloudDocumentsService sharedInstance" keyEquivalent="s" keyEquivalentModifierMask="NSControlKeyMask|NSCommandKeyMask" />
			<menuitem title="%New Document" id="newCloudDocument" action="newCloudDocument:" target="BCloudDocumentsService sharedInstance" />
			<menuitem title="%Delete Document" id="deleteCloudDocument" action="deleteCloudDocument:" target="BCloudDocumentsService sharedInstance" />
			<menuitem title="%View Documents Online" id="browseCloudDocumentsOnline" action="browseCloudDocumentsOnline:" target="BCloudDocumentsService sharedInstance" />
			<menuitem title="%Sign In..." id="toggleDocumentsServiceAuthentication" action="toggleDocumentsServiceAuthentication:" target="BCloudDocumentsService sharedInstance" />
		</menu>
		
		<menu id="com.blocks.BDocuments.menus.main.file.documentsService.sharedDocuments">
		</menu>
	</extension>	
</plugin>