<?xml version="1.0" encoding="UTF-8"?>

<plugin
	id="com.blocks.BDocuments"
	label="Documents"
	version="1.0.0"
	info="Blocks Documents">

	<requirement bundle="com.blocks.Blocks" version="1.0.0" />
	<requirement bundle="com.blocks.BLifecycle" version="1.0.0" />
	<requirement bundle="com.blocks.BUserInterface" version="1.0.0" />

	<extension-point id="documentControllerDelegate" label="Document Controller Delegate" />
	<extension-point id="documentDefaultWindowControllersFactory" label="Document Default Window Controlers Factory" />

	<extension point="com.blocks.BLifecycle.lifecycle">
		<applicationLaunching class="BDocumentController sharedInstance" />
		<applicationDidFinishLaunching class="BDocumentController sharedInstance" />
		<applicationMayTerminateNotification class="BDocumentController sharedInstance" />
		<applicationCancledTerminateNotification class="BDocumentController sharedInstance" />
		<applicationWillTerminate class="BDocumentController sharedInstance" />
	</extension>

	<extension point="com.blocks.BLifecycle.lifecycle">
		<applicationDidFinishLaunching class="SyncedDocumentsControllerDelegate sharedInstance" />
	</extension>
	
	<extension point="com.blocks.BUserInterface.menus" processOrder="2">		
		<menu id="com.blocks.BUserInterface.menus.main">
			<menuitem title="%Sync" id="syncedDocumentsService" submenu="com.blocks.BUserInterface.menus.main.syncedDocumentsService" location="after:window" />
		</menu>
		
		<menu id="com.blocks.BUserInterface.menus.main.file">
			<menuitem title="%Show Unsaved Changes..." id="showUnsavedChanges" location="group:closeGroup" action="showUnsavedChanges:" />
		</menu>
		
		<menu id="com.blocks.BUserInterface.menus.main.syncedDocumentsService">
			<menuitem title="%Sync" id="beginSync" action="beginSync:" target="SyncedDocumentsControllerDelegate sharedInstance" keyEquivalent="s" keyEquivalentModifierMask="NSControlKeyMask|NSCommandKeyMask" />
			<menuitem title="%Show Synced Folder" id="openSyncedDocumentsFolder" action="openSyncedDocumentsFolder:" target="SyncedDocumentsControllerDelegate sharedInstance" />
			<menuitem title="%Show Synced Website" id="openSyncedDocumentsWebsite" action="openSyncedDocumentsWebsite:" target="SyncedDocumentsControllerDelegate sharedInstance" />
			<menuitem title="%Sign In..." id="toggleSyncedDocumentsAuthentication" action="toggleSyncedDocumentsAuthentication:" target="SyncedDocumentsControllerDelegate sharedInstance" />
		</menu>
	</extension>	
</plugin>